body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

header {
  background-color: lightgrey;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
